body {
    background-color: #F9F7FD;
    font-family: "Cabin", serif;
}

.weather-app {
    background-color: white;
    max-width: 600px;
    margin: 40px auto;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.search-form-input { 
    background-color: #F9F7FD;
    border: none;
    border-radius: 7px;
    width: 80%;
    padding: 16px;
    font-size: 16px;
}

.search-btn {
    background-color: #885DF1;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 8px;
    padding: 15px;
    width: 18%;
    font-size: 16px;
}